USE [master]
GO
/****** Object:  Database [ClothingStock_DB]    Script Date: 4/2/2022 1:02:35 AM ******/
CREATE DATABASE [ClothingStock_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClothingStock_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ClothingStock_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClothingStock_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ClothingStock_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClothingStock_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClothingStock_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/2/2022 1:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/2/2022 1:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NOT NULL,
	[CustomerName] [varchar](50) NOT NULL,
	[Location] [varchar](200) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/2/2022 1:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](100) NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[Size] [varchar](20) NOT NULL,
	[Category] [varchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 4/2/2022 1:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] NOT NULL,
	[SupplierName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System_User]    Script Date: 4/2/2022 1:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_User](
	[EmployeeID] [int] NOT NULL,
	[FName] [varchar](20) NOT NULL,
	[LName] [varchar](20) NULL,
	[Email] [varchar](50) NOT NULL,
	[Role] [varchar](10) NULL,
	[PIN] [int] NOT NULL,
	[Phone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_StockIN_OUT_Product]    Script Date: 4/2/2022 1:02:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_StockIN_OUT_Product](
	[TransactionNumber] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [varchar](max) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Comments] [varchar](50) NULL,
	[Type] [varchar](20) NOT NULL,
	[SupplierID] [int] NULL,
	[CustomerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [Location], [Email], [Phone]) VALUES (1, N'Vlad Giacovetti', N'9862 Shelley Drive', N'vgiacovetti0@domainmarket.com', N'4041137237')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [Location], [Email], [Phone]) VALUES (2, N'Teddie Keith', N'3 Westerfield Junction', N'tkeith1@google.ca', N'5777978547')
INSERT [dbo].[Customer] ([CustomerID], [CustomerName], [Location], [Email], [Phone]) VALUES (3, N'Muffin Franiak', N'622 Schlimgen Park', N'mfraniak2@google.nl', N'8059619447')
GO
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Size], [Category], [Quantity]) VALUES (1, N'Prada Striped Shell Belt Bag', N'One of Prada''s most functional designs, this belt bag is made from weather-resistant shell fabric with zip compartments for storing your daily belongings. It''s designed for navigating your day hands-free- try styling yours diagonally across the body.', N'XS', N'Others', 76)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Size], [Category], [Quantity]) VALUES (2, N'Prada Striped Shell Belt Bag', N'One of Prada''s most functional designs, this belt bag is made from weather-resistant shell fabric with zip compartments for storing your daily belongings. It''s designed for navigating your day hands-free- try styling yours diagonally across the body.', N'S', N'Others', 10)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [Size], [Category], [Quantity]) VALUES (3, N'Prada Striped Shell Belt Bag', N'One of Prada''s most functional designs, this belt bag is made from weather-resistant shell fabric with zip compartments for storing your daily belongings. It''s designed for navigating your day hands-free- try styling yours diagonally across the body.', N'M', N'Others', 72)
GO
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Email], [Phone]) VALUES (1, N'Stokes, Zulauf and Welch', N'slippingwell0@whitehouse.gov', N'6576104810')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Email], [Phone]) VALUES (2, N'Howell Inc', N'rpadginton1@discovery.com', N'4837570426')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Email], [Phone]) VALUES (3, N'Abshire Inc', N'claboune2@marriott.com', N'7538523703')
GO
INSERT [dbo].[System_User] ([EmployeeID], [FName], [LName], [Email], [Role], [PIN], [Phone]) VALUES (100, N'Mair', N'Prandini', N'mprandini0@sohu.com', N'Manager', 1111, N'1624680669')
INSERT [dbo].[System_User] ([EmployeeID], [FName], [LName], [Email], [Role], [PIN], [Phone]) VALUES (101, N'Gabby', N'Stachini', N'gstachini1@hostgator.com', N'Manager', 2222, N'9993253645')
INSERT [dbo].[System_User] ([EmployeeID], [FName], [LName], [Email], [Role], [PIN], [Phone]) VALUES (102, N'Waylan', N'Pretty', N'wpretty2@ft.com', N'Manager', 3333, N'6252857575')
GO
SET IDENTITY_INSERT [dbo].[User_StockIN_OUT_Product] ON 

INSERT [dbo].[User_StockIN_OUT_Product] ([TransactionNumber], [TransactionId], [ProductID], [Quantity], [Date], [EmployeeID], [Comments], [Type], [SupplierID], [CustomerID]) VALUES (1, N'2810255e-7561-4526-88ac-8949acc409f1', 1, 15, CAST(N'2022-03-19T03:16:09.233' AS DateTime), 100, N'Adding product', N'IN', 1, NULL)
INSERT [dbo].[User_StockIN_OUT_Product] ([TransactionNumber], [TransactionId], [ProductID], [Quantity], [Date], [EmployeeID], [Comments], [Type], [SupplierID], [CustomerID]) VALUES (3, N'd145c8c0-91ef-43eb-b7dd-b19bcee5dc0e', 1, 15, CAST(N'2022-03-19T04:01:07.427' AS DateTime), 100, N'', N'IN', 15, NULL)
INSERT [dbo].[User_StockIN_OUT_Product] ([TransactionNumber], [TransactionId], [ProductID], [Quantity], [Date], [EmployeeID], [Comments], [Type], [SupplierID], [CustomerID]) VALUES (6, N'4292098f-69b0-4474-ad5d-95e63f865061', 1, 5, CAST(N'2022-03-19T04:17:55.640' AS DateTime), 100, N'', N'IN', 12, NULL)
SET IDENTITY_INSERT [dbo].[User_StockIN_OUT_Product] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D1053477BE4E7A]    Script Date: 4/2/2022 1:02:36 AM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__A9D10534B0ACEE7A]    Script Date: 4/2/2022 1:02:36 AM ******/
ALTER TABLE [dbo].[Supplier] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__System_U__A9D105348FEED00B]    Script Date: 4/2/2022 1:02:36 AM ******/
ALTER TABLE [dbo].[System_User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__System_U__C577552B72831566]    Script Date: 4/2/2022 1:02:36 AM ******/
ALTER TABLE [dbo].[System_User] ADD UNIQUE NONCLUSTERED 
(
	[PIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User_StockIN_OUT_Product]  WITH CHECK ADD  CONSTRAINT [Stock_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_StockIN_OUT_Product] CHECK CONSTRAINT [Stock_Customer]
GO
ALTER TABLE [dbo].[User_StockIN_OUT_Product]  WITH CHECK ADD  CONSTRAINT [Stock_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[System_User] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_StockIN_OUT_Product] CHECK CONSTRAINT [Stock_Employee]
GO
ALTER TABLE [dbo].[User_StockIN_OUT_Product]  WITH CHECK ADD  CONSTRAINT [Stock_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_StockIN_OUT_Product] CHECK CONSTRAINT [Stock_Product]
GO
ALTER TABLE [dbo].[User_StockIN_OUT_Product]  WITH CHECK ADD  CONSTRAINT [Stock_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_StockIN_OUT_Product] CHECK CONSTRAINT [Stock_Supplier]
GO
ALTER TABLE [dbo].[Product]  WITH NOCHECK ADD CHECK  (([Category]='Pants' OR [Category]='Shirts' OR [Category]='Sweaters' OR [Category]='Coats' OR [Category]='Jackets' OR [Category]='Others'))
GO
ALTER TABLE [dbo].[Product]  WITH NOCHECK ADD CHECK  (([Size]='XS' OR [Size]='S' OR [Size]='M' OR [Size]='L' OR [Size]='XL'))
GO
ALTER TABLE [dbo].[System_User]  WITH NOCHECK ADD CHECK  (([Role]='Manager' OR [Role]='Operator'))
GO
ALTER TABLE [dbo].[User_StockIN_OUT_Product]  WITH CHECK ADD CHECK  (([Type]='IN' OR [Type]='OUT' OR [Type]='ADJUST'))
GO
USE [master]
GO
